<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.danlu.dmall.persist.dao.ProductBaseMapper" >
  <resultMap id="BaseResultMap" type="com.danlu.dmall.persist.entity.ProductBase" >
    <id column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="product_bar_code" property="productBarCode" jdbcType="VARCHAR" />
    <result column="product_category_code" property="productCategoryCode" jdbcType="VARCHAR" />
    <result column="product_category_name" property="productCategoryName" jdbcType="VARCHAR" />
    <result column="product_brand_code" property="productBrandCode" jdbcType="VARCHAR" />
    <result column="product_brand_name" property="productBrandName" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="product_status" property="productStatus" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    product_id, product_bar_code, product_category_code, product_category_name, product_brand_code, 
    product_brand_name, product_name, product_status, gmt_create, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from dmall_product_base_info
    where product_id = #{productId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dmall_product_base_info
    where product_id = #{productId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.danlu.dmall.persist.entity.ProductBase" >
    insert into dmall_product_base_info (product_bar_code, product_category_code, 
      product_category_name, product_brand_code, 
      product_brand_name, product_name, product_status, 
      gmt_create, gmt_modified)
    values (#{productBarCode,jdbcType=VARCHAR}, #{productCategoryCode,jdbcType=VARCHAR}, 
      #{productCategoryName,jdbcType=VARCHAR}, #{productBrandCode,jdbcType=VARCHAR}, 
      #{productBrandName,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, #{productStatus,jdbcType=VARCHAR}, 
      NOW(), NOW())
  </insert>
  <insert id="insertSelective" parameterType="com.danlu.dmall.persist.entity.ProductBase" >
    insert into dmall_product_base_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productBarCode != null" >
        product_bar_code,
      </if>
      <if test="productCategoryCode != null" >
        product_category_code,
      </if>
      <if test="productCategoryName != null" >
        product_category_name,
      </if>
      <if test="productBrandCode != null" >
        product_brand_code,
      </if>
      <if test="productBrandName != null" >
        product_brand_name,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="productStatus != null" >
        product_status,
      </if>
        gmt_create,
        gmt_modified
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productBarCode != null" >
        #{productBarCode,jdbcType=VARCHAR},
      </if>
      <if test="productCategoryCode != null" >
        #{productCategoryCode,jdbcType=VARCHAR},
      </if>
      <if test="productCategoryName != null" >
        #{productCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="productBrandCode != null" >
        #{productBrandCode,jdbcType=VARCHAR},
      </if>
      <if test="productBrandName != null" >
        #{productBrandName,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productStatus != null" >
        #{productStatus,jdbcType=VARCHAR},
      </if>
        NOW(),
        NOW()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.danlu.dmall.persist.entity.ProductBase" >
    update dmall_product_base_info
    <set >
      <if test="productBarCode != null" >
        product_bar_code = #{productBarCode,jdbcType=VARCHAR},
      </if>
      <if test="productCategoryCode != null" >
        product_category_code = #{productCategoryCode,jdbcType=VARCHAR},
      </if>
      <if test="productCategoryName != null" >
        product_category_name = #{productCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="productBrandCode != null" >
        product_brand_code = #{productBrandCode,jdbcType=VARCHAR},
      </if>
      <if test="productBrandName != null" >
        product_brand_name = #{productBrandName,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productStatus != null" >
        product_status = #{productStatus,jdbcType=VARCHAR},
      </if>
        gmt_modified = NOW()
    </set>
    where product_id = #{productId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.danlu.dmall.persist.entity.ProductBase" >
    update dmall_product_base_info
    set product_bar_code = #{productBarCode,jdbcType=VARCHAR},
      product_category_code = #{productCategoryCode,jdbcType=VARCHAR},
      product_category_name = #{productCategoryName,jdbcType=VARCHAR},
      product_brand_code = #{productBrandCode,jdbcType=VARCHAR},
      product_brand_name = #{productBrandName,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      product_status = #{productStatus,jdbcType=VARCHAR},
      gmt_modified = NOW()
    where product_id = #{productId,jdbcType=BIGINT}
  </update>
</mapper>