<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.danlu.dmall.persist.dao.ProductExtendMapper" >
  <resultMap id="BaseResultMap" type="com.danlu.dmall.persist.entity.ProductExtend" >
    <id column="product_extend_id" property="productExtendId" jdbcType="BIGINT" />
    <result column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="product_cover_pic" property="productCoverPic" jdbcType="VARCHAR" />
    <result column="product_detail_pic" property="productDetailPic" jdbcType="VARCHAR" />
    <result column="product_extend_status" property="productExtendStatus" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.danlu.dmall.persist.entity.ProductExtend" extends="BaseResultMap" >
    <result column="product_detail_info" property="productDetailInfo" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    product_extend_id, product_id, product_cover_pic, product_detail_pic, product_extend_status, 
    gmt_create, gmt_modified
  </sql>
  <sql id="Blob_Column_List" >
    product_detail_info
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from dmall_product_extend_info
    where product_extend_id = #{productExtendId,jdbcType=BIGINT}
  </select>
  <select id="selectByProductId" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from dmall_product_extend_info
    where product_id = #{productId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dmall_product_extend_info
    where product_extend_id = #{productExtendId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.danlu.dmall.persist.entity.ProductExtend" >
    insert into dmall_product_extend_info (product_id, product_cover_pic, 
      product_detail_pic, product_extend_status, 
      gmt_create, gmt_modified, product_detail_info
      )
    values (#{productId,jdbcType=BIGINT}, #{productCoverPic,jdbcType=VARCHAR}, 
      #{productDetailPic,jdbcType=VARCHAR}, #{productExtendStatus,jdbcType=VARCHAR}, 
      NOW(), NOW(), #{productDetailInfo,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.danlu.dmall.persist.entity.ProductExtend" >
    insert into dmall_product_extend_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        product_id,
      </if>
      <if test="productCoverPic != null" >
        product_cover_pic,
      </if>
      <if test="productDetailPic != null" >
        product_detail_pic,
      </if>
      <if test="productExtendStatus != null" >
        product_extend_status,
      </if>
      <if test="productDetailInfo != null" >
        product_detail_info,
      </if>
        gmt_create,
        gmt_modified
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="productCoverPic != null" >
        #{productCoverPic,jdbcType=VARCHAR},
      </if>
      <if test="productDetailPic != null" >
        #{productDetailPic,jdbcType=VARCHAR},
      </if>
      <if test="productExtendStatus != null" >
        #{productExtendStatus,jdbcType=VARCHAR},
      </if>
      <if test="productDetailInfo != null" >
        #{productDetailInfo,jdbcType=LONGVARCHAR},
      </if>
        NOW(),
        NOW()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.danlu.dmall.persist.entity.ProductExtend" >
    update dmall_product_extend_info
    <set >
      <if test="productId != null" >
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="productCoverPic != null" >
        product_cover_pic = #{productCoverPic,jdbcType=VARCHAR},
      </if>
      <if test="productDetailPic != null" >
        product_detail_pic = #{productDetailPic,jdbcType=VARCHAR},
      </if>
      <if test="productExtendStatus != null" >
        product_extend_status = #{productExtendStatus,jdbcType=VARCHAR},
      </if>
      <if test="productDetailInfo != null" >
        product_detail_info = #{productDetailInfo,jdbcType=LONGVARCHAR},
      </if>
        gmt_modified = NOW()
    </set>
    where product_extend_id = #{productExtendId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.danlu.dmall.persist.entity.ProductExtend" >
    update dmall_product_extend_info
    set product_id = #{productId,jdbcType=BIGINT},
      product_cover_pic = #{productCoverPic,jdbcType=VARCHAR},
      product_detail_pic = #{productDetailPic,jdbcType=VARCHAR},
      product_extend_status = #{productExtendStatus,jdbcType=VARCHAR},
      gmt_modified = NOW(),
      product_detail_info = #{productDetailInfo,jdbcType=LONGVARCHAR}
    where product_extend_id = #{productExtendId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.danlu.dmall.persist.entity.ProductExtend" >
    update dmall_product_extend_info
    set product_id = #{productId,jdbcType=BIGINT},
      product_cover_pic = #{productCoverPic,jdbcType=VARCHAR},
      product_detail_pic = #{productDetailPic,jdbcType=VARCHAR},
      product_extend_status = #{productExtendStatus,jdbcType=VARCHAR},
      gmt_modified = NOW()
    where product_extend_id = #{productExtendId,jdbcType=BIGINT}
  </update>
</mapper>