<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.danlu.dmall.persist.dao.ShopBaseMapper" >
  <resultMap id="BaseResultMap" type="com.danlu.dmall.persist.entity.ShopBase" >
    <id column="shop_id" property="shopId" jdbcType="BIGINT" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="shop_tel" property="shopTel" jdbcType="VARCHAR" />
    <result column="shop_manager" property="shopManager" jdbcType="VARCHAR" />
    <result column="shop_type" property="shopType" jdbcType="VARCHAR" />
    <result column="shop_desc" property="shopDesc" jdbcType="VARCHAR" />
    <result column="shop_status" property="shopStatus" jdbcType="VARCHAR" />
    <result column="shop_longitude" property="shopLongitude" jdbcType="VARCHAR" />
    <result column="shop_latitude" property="shopLatitude" jdbcType="VARCHAR" />
    <result column="shop_area_code" property="shopAreaCode" jdbcType="VARCHAR" />
    <result column="shop_amap_code" property="shopAmapCode" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    shop_id, shop_name, shop_tel, shop_manager, shop_type, shop_desc, shop_status, shop_longitude, 
    shop_latitude, shop_area_code, shop_amap_code, gmt_create, gmt_modified
  </sql>
  <sql id="selectByParamsWhere">
    <where>
      <if test="shopName != null">
        shop_name like CONCAT(CONCAT('%', #{shopName,jdbcType=VARCHAR}), '%') and
      </if>
      <if test="shopManager != null">
        shop_manager like CONCAT(CONCAT('%', #{shopManager,jdbcType=VARCHAR}), '%') and
      </if>
      <if test="shopTel != null">
	    shop_tel = #{shopTel,jdbcType=VARCHAR} and
	  </if>
      <if test="shopType != null">
        shop_type = #{shopType,jdbcType=VARCHAR} and
      </if>
      <if test="shopStatus != null">
        shop_status = #{shopStatus,jdbcType=VARCHAR} and
      </if>
      <if test="shopAreaCodes != null">
		shop_area_code in
		<trim suffixOverrides=",">
			<foreach collection="shopAreaCodes" item="shopAreaCode" index="index" separator="," open="(" close=")">
				#{shopAreaCode, jdbcType=VARCHAR}
			</foreach>
		</trim>
		and
	  </if>
	  <if test="shopAmapCodes != null">
		shop_amap_code in
		<trim suffixOverrides=",">
			<foreach collection="shopAmapCodes" item="shopAmapCode" index="index" separator="," open="(" close=")">
				#{shopAmapCode, jdbcType=VARCHAR}
			</foreach>
		</trim>
		and
	  </if>
	  <if test="shopIds != null">
		shop_id in
		<trim suffixOverrides=",">
			<foreach collection="shopIds" item="shopId" index="index" separator="," open="(" close=")">
				#{shopIds, jdbcType=BIGINT}
			</foreach>
		</trim>
		and
	  </if>
        1 = 1
    </where>
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from dmall_shop_base_info
    where shop_id = #{shopId,jdbcType=BIGINT}
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from dmall_shop_base_info
    <include refid="selectByParamsWhere" />
    <if test=" offset != null and limit != null">
	  limit ${offset},${limit}
	</if>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dmall_shop_base_info
    where shop_id = #{shopId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.danlu.dmall.persist.entity.ShopBase" >
    insert into dmall_shop_base_info (shop_id, shop_name, shop_tel, 
      shop_manager, shop_type, shop_desc, 
      shop_status, shop_longitude, shop_latitude, 
      shop_area_code, shop_amap_code, gmt_create, gmt_modified
      )
    values (#{shopId,jdbcType=BIGINT}, #{shopName,jdbcType=VARCHAR}, #{shopTel,jdbcType=VARCHAR}, 
      #{shopManager,jdbcType=VARCHAR}, #{shopType,jdbcType=VARCHAR}, #{shopDesc,jdbcType=VARCHAR}, 
      #{shopStatus,jdbcType=VARCHAR}, #{shopLongitude,jdbcType=VARCHAR}, #{shopLatitude,jdbcType=VARCHAR}, 
      #{shopAreaCode,jdbcType=VARCHAR}, #{shopAreaCode,jdbcType=VARCHAR}, NOW(), NOW())
  </insert>
  <insert id="insertSelective" parameterType="com.danlu.dmall.persist.entity.ShopBase" >
    insert into dmall_shop_base_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="shopName != null" >
        shop_name,
      </if>
      <if test="shopTel != null" >
        shop_tel,
      </if>
      <if test="shopManager != null" >
        shop_manager,
      </if>
      <if test="shopType != null" >
        shop_type,
      </if>
      <if test="shopDesc != null" >
        shop_desc,
      </if>
      <if test="shopStatus != null" >
        shop_status,
      </if>
      <if test="shopLongitude != null" >
        shop_longitude,
      </if>
      <if test="shopLatitude != null" >
        shop_latitude,
      </if>
      <if test="shopAreaCode != null" >
        shop_area_code,
      </if>
      <if test="shopAmapCode != null" >
        shop_amap_code,
      </if>
        gmt_create,
        gmt_modified
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shopId != null" >
        #{shopId,jdbcType=BIGINT},
      </if>
      <if test="shopName != null" >
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="shopTel != null" >
        #{shopTel,jdbcType=VARCHAR},
      </if>
      <if test="shopManager != null" >
        #{shopManager,jdbcType=VARCHAR},
      </if>
      <if test="shopType != null" >
        #{shopType,jdbcType=VARCHAR},
      </if>
      <if test="shopDesc != null" >
        #{shopDesc,jdbcType=VARCHAR},
      </if>
      <if test="shopStatus != null" >
        #{shopStatus,jdbcType=VARCHAR},
      </if>
      <if test="shopLongitude != null" >
        #{shopLongitude,jdbcType=VARCHAR},
      </if>
      <if test="shopLatitude != null" >
        #{shopLatitude,jdbcType=VARCHAR},
      </if>
      <if test="shopAreaCode != null" >
        #{shopAreaCode,jdbcType=VARCHAR},
      </if>
      <if test="shopAmapCode != null" >
        #{shopAmapCode,jdbcType=VARCHAR},
      </if>
        NOW(),
        NOW()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.danlu.dmall.persist.entity.ShopBase" >
    update dmall_shop_base_info
    <set >
      <if test="shopName != null" >
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="shopTel != null" >
        shop_tel = #{shopTel,jdbcType=VARCHAR},
      </if>
      <if test="shopManager != null" >
        shop_manager = #{shopManager,jdbcType=VARCHAR},
      </if>
      <if test="shopType != null" >
        shop_type = #{shopType,jdbcType=VARCHAR},
      </if>
      <if test="shopDesc != null" >
        shop_desc = #{shopDesc,jdbcType=VARCHAR},
      </if>
      <if test="shopStatus != null" >
        shop_status = #{shopStatus,jdbcType=VARCHAR},
      </if>
      <if test="shopLongitude != null" >
        shop_longitude = #{shopLongitude,jdbcType=VARCHAR},
      </if>
      <if test="shopLatitude != null" >
        shop_latitude = #{shopLatitude,jdbcType=VARCHAR},
      </if>
      <if test="shopAreaCode != null" >
        shop_area_code = #{shopAreaCode,jdbcType=VARCHAR},
      </if>
      <if test="shopAmapCode != null" >
        shop_amap_code = #{shopAmapCode,jdbcType=VARCHAR},
      </if>
        gmt_modified = NOW()
    </set>
    where shop_id = #{shopId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.danlu.dmall.persist.entity.ShopBase" >
    update dmall_shop_base_info
    set shop_name = #{shopName,jdbcType=VARCHAR},
      shop_tel = #{shopTel,jdbcType=VARCHAR},
      shop_manager = #{shopManager,jdbcType=VARCHAR},
      shop_type = #{shopType,jdbcType=VARCHAR},
      shop_desc = #{shopDesc,jdbcType=VARCHAR},
      shop_status = #{shopStatus,jdbcType=VARCHAR},
      shop_longitude = #{shopLongitude,jdbcType=VARCHAR},
      shop_latitude = #{shopLatitude,jdbcType=VARCHAR},
      shop_area_code = #{shopAreaCode,jdbcType=VARCHAR},
      shop_amap_code = #{shopAmapCode,jdbcType=VARCHAR},
      gmt_modified = NOW()
    where shop_id = #{shopId,jdbcType=BIGINT}
  </update>
</mapper>